/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Varela+Round&display=swap");

* {
    margin: 0;
    padding: 0;
}

body {
    background-image: radial-gradient( #006ca4, #002c49);
    background-repeat: no-repeat;
    font-family: 'Permanent Marker', cursive;
    //color: #9D5900;
    color: white;
    padding: 1% 0 5% 0;
}

.home {
    position: absolute;
    top: 1%;
    right: 10%;
    padding: 0.3em;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 5px rgb(255,255,255);
    box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
    text-align: center;
    font-size: 2rem;
    cursor: pointer;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);

    a {
        color: white !important;
        text-decoration: none;
    }

}

.page-title {
    letter-spacing: 0.5rem;
    text-shadow: 0 1px 0 #ccc,
               0 2px 0 #c9c9c9,
               0 3px 0 #bbb,
               0 4px 0 #b9b9b9,
               0 5px 0 #aaa,
               0 6px 1px rgba(0,0,0,.1),
               0 0 5px rgba(0,0,0,.1),
               0 1px 3px rgba(0,0,0,.3),
               0 3px 5px rgba(0,0,0,.2),
               0 5px 10px rgba(0,0,0,.25),
               0 10px 10px rgba(0,0,0,.2),
               0 20px 20px rgba(0,0,0,.15);
}

.score-panel {
    font-size: 1.5rem;
    width: 60%;
    margin: 0 auto;
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    justify-content: center;
}

.rating-block {
    float: center;
}

.stars {
    display: inline-block;
}

.stars li {
    list-style: none;
    display: inline-block;
}

.restart {
    color: #ffffff;
	float: center;
	cursor: pointer;
}

.cards-block {
    background-color: rgba(255,255,255, 0.5);
    border-radius: 6px;
    width: 60%;
    margin: 0 auto;
    padding: 1rem;
    box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 1rem;
    justify-content: center;
    perspective: 500px;
    position: relative;
}

.card {
    height: 10rem;
    width: 8rem;
    position: relative;
    transform-style: preserve-3d;
    transition: all 0.5s ease;
    background-color: transparent;
    border: none;
    cursor: pointer;
    box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
}

.card:active {
    transform:scale(.97);
    transition: transform .2s;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    backface-visibility: hidden;
    border-width: 1px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
}

.card-front {
    background-color: white;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 5px rgb(4, 59, 101);
    transform: rotateY(180deg);
}

.card-back {
    color: rgb(4, 59, 101);
    font-size: 2rem;
    background-color: white;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 5px rgb(4, 59, 101);
}

.card.open .card-back {
    transform: rotateY(-180deg);
}
  
.card.open .card-front {
    transform: rotateY(0);
}

.card-value {
    display: block;
    width: 100%;
    height: 100%;
    transition: transform 100ms ease-in-out;
    transform: scale(.9);
}

.card.match .card-front{
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
}


.card.disabled {
	pointer-events: none;
    transform: none !important;
}

/*==== Player Name Modal ===*/

.overlay-name {
    position: fixed;
    z-index: 100;
	top: 0;
	bottom: 0;
	left: 0;
    right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.name-input{
    margin: 13rem auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 85%;
	position: relative;
	transition: all 5s ease-in-out;
    font-family: 'Permanent Marker', cursive;
    font-size: 1.3rem;
    text-align: center;
    color: black;

    input {
        padding: 0.5rem 1rem;
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        border: solid 5px rgb(4, 59, 101);
        box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
    }

    input:focus {
        outline: none;
    }

    button {
        padding: 0.5rem 1rem;
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        border: solid 5px rgb(4, 59, 101);
        box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
    }
}
  
.overlay-name.visible {
    visibility: visible;
	opacity: 100 !important;
}


 /* ==== Styles for congratulations modal ===*/


.overlay-congrats {
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.overlay-congrats:target {
	visibility: visible;
	opacity: 1;
}
  
.popup {
	margin: 70px auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 85%;
	position: relative;
	transition: all 5s ease-in-out;
    font-family: 'Varela Round', sans-serif;
    text-align: center;
}

.popup i {
    color: black;
    font-size: 1.5rem;
}
  
.popup h2 {
	margin-top: 0;
	color: #333;
	font-family: 'Varela Round', sans-serif;
}

.popup .close {
	position: absolute;
	top: 20px;
	right: 30px;
	transition: all 200ms;
	font-size: 30px;
	font-weight: bold;
	text-decoration: none;
	color: #333;
}

.popup .close:hover {
	color: #E5F720;
}

.popup .content-1 {
    color: black;
	max-height: 30%;
	overflow: auto;
	text-align: center;
}

.show {
	visibility: visible !important;
	opacity: 100 !important;
}

#starRating li {
	display: inline-block;
}

#play-again {
	background-color: #ffffff;
	padding: 0.7rem 1rem;
	font-size: 1.1rem;
	display: block;
	margin: 0 auto;
	width: 50%;
	font-family: 'Varela Round', sans-serif;
	color: #000000;
	padding: 0.5rem 1rem;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 5px rgb(4, 59, 101);
    box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
}

/* ==== Styles for timeout/gameover modal ===*/

.overlay-timeout {
    position: fixed;
    z-index: 100;
	top: 0;
	bottom: 0;
	left: 0;
    right: 0;
	background: rgba(0, 0, 0, 0.7);
	transition: opacity 500ms;
	visibility: hidden;
	opacity: 0;
}

.timeout-modal{
    margin: 13rem auto;
	padding: 20px;
	background: #ffffff;
	border-radius: 5px;
	width: 85%;
	position: relative;
	transition: all 5s ease-in-out;
    font-family: 'Varela Round', sans-serif;
    font-size: 1.3rem;
    text-align: center;
    color: black;

    button {
        padding: 0.5rem 1rem;
        border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
        border: solid 5px rgb(4, 59, 101);
        box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
    }
}

