/*===== GOOGLE FONTS =====*/
@import url("https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Varela+Round&display=swap");

* {
    margin: 0;
    padding: 0;
    border:0;
}

body {
    background: #002c49;
}

/*===== HEADER =====*/

header {
    width: 100%;
    box-sizing: border-box;
}

header .container-fluid {
    padding: 0;
}

.header-box {
    width: 100%;
    height: 100vh;
    overflow: hidden;
    position: relative;

    h1 {
        position: absolute;
        width: 100%;
        display: flex;
        top: 25%;
        justify-content: center;
        color: #FFFFFF;
        -webkit-text-stroke: 0.2rem rgb(4, 59, 101);
        letter-spacing: 0.3rem;
        font-family: 'Permanent Marker', cursive;
        z-index: 5;
        text-shadow: 0 1px 0 #ccc,
                    0 2px 0 #c9c9c9,
                    0 3px 0 #bbb,
                    0 4px 0 #b9b9b9,
                    0 5px 0 #aaa,
                    0 6px 1px rgba(0,0,0,.1),
                    0 0 5px rgba(0,0,0,.1),
                    0 1px 3px rgba(0,0,0,.3),
                    0 3px 5px rgba(0,0,0,.2),
                    0 5px 10px rgba(0,0,0,.25),
                    0 10px 10px rgba(0,0,0,.2),
                    0 20px 20px rgba(0,0,0,.15);
    }
}

.rules-btn, .play-btn {
    z-index: 9;
    position: absolute;
    top: 30%;
    margin-top: 50px;
    padding: 0.5em;
    width: 7rem;
    background: white;
    border-radius: 255px 15px 225px 15px/15px 225px 15px 255px;
    border: solid 5px rgb(4, 59, 101);
    box-shadow: 8px 9px 26px 0 rgba(46, 61, 73, 0.5);
    font-family: 'Varela Round', sans-serif;
    font-size: 0.9em;
    font-weight: bold;
    text-transform: uppercase;
    color: #002c49 !important;
    text-decoration: none;
    cursor: pointer;
}

.rules-btn {       
    left: 40%;
}

.play-btn {
    left: 38%;
}

.sky {
    background-image: url("../img/home_page/img1.png");
    position: absolute;
    width:100%;
    height:100%;
    z-index: 1;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cloud1 {
    background-image: url("../img/home_page/cloud1.png");
    position: absolute;
    width:100%;
    height:100%;
    z-index: 2;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.cloud2 {
    background-image: url("../img/home_page/cloud2.png");
    position: absolute;
    width:100%;
    height:100%;
    z-index: 3;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mountain1 {
    background-image: url("../img/home_page/mountain1.png");
    position: absolute;
    width:100%;
    height:100%;
    z-index: 4;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mountain2 {
    background-image: url("../img/home_page/mountain2.png");
    position: absolute;
    width:100%;
    height:100%;
    z-index: 5;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mountain3 {
    background-image: url("../img/home_page/mountain3.png");
    position: absolute;
    width:100%;
    height:100%;
    z-index: 6;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mountain4 {
    background-image: url("../img/home_page/mountain4.png");
    position: absolute;
    width:100%;
    height:100%;
    z-index: 7;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.mountain5 {
    background-image: url("../img/home_page/mountain5.png");
    position: absolute;
    width:100%;
    height:100%;
    z-index: 8;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

[data-scroll] {
    transition: transform 3s;
}

[data-scroll="in"] {
    transform: translateY(0);
}

[data-scroll="out"] {
    transform: translateY(200px);
}

.bottom-page {
    padding:0;
    color: white;
}

/*===== RULES PAGE =====*/

.rules {
    width: 100%;
    padding: 15% 10%;
    display: block;
    box-sizing: border-box;
    background: #002c49;
}

.rules-box {
    background: #002c49;
}

.section-rules h2 {
    color: #FFFFFF;
    text-transform: uppercase;
    width: 100%;
    justify-content: center;
    letter-spacing: 0.5rem;
    font-family: 'Permanent Marker', cursive;
    font-size: 2rem;
    text-shadow: 0 1px 0 #ccc,
                    0 2px 0 #c9c9c9,
                    0 3px 0 #bbb,
                    0 4px 0 #b9b9b9,
                    0 5px 0 #aaa,
                    0 6px 1px rgba(0,0,0,.1),
                    0 0 5px rgba(0,0,0,.1),
                    0 1px 3px rgba(0,0,0,.3),
                    0 3px 5px rgba(0,0,0,.2),
                    0 5px 10px rgba(0,0,0,.25),
                    0 10px 10px rgba(0,0,0,.2),
                    0 20px 20px rgba(0,0,0,.15);
}

.game-rules {
    font-size: 1.1rem;
    font-family: 'Varela Round', sans-serif;
    width: 100%;
    text-align: center;

    p {
        color: #FFFFFF;
        font-weight: normal;
    }

    a {
        text-decoration: none;
        color: #85c7e9 !important;
        font-weight: bold;
    }
}


.lets-play {
    font-family: 'Permanent Marker', cursive;
    color: #FFFFFF;
    font-size: 1.5rem;
    letter-spacing: 0.5rem;
    bottom: 0;
    text-shadow: 0 1px 0 #ccc,
                    0 2px 0 #c9c9c9,
                    0 3px 0 #bbb,
                    0 4px 0 #b9b9b9,
                    0 5px 0 #aaa,
                    0 6px 1px rgba(0,0,0,.1),
                    0 0 5px rgba(0,0,0,.1),
                    0 1px 3px rgba(0,0,0,.3),
                    0 3px 5px rgba(0,0,0,.2),
                    0 5px 10px rgba(0,0,0,.25),
                    0 10px 10px rgba(0,0,0,.2),
                    0 20px 20px rgba(0,0,0,.15);
}

.lets-play-btn {
    color: #FFFFFF !important;
    font-size: 3.5rem;
    text-decoration: none;
    text-shadow: 0 1px 0 #ccc,
                    0 2px 0 #c9c9c9,
                    0 3px 0 #bbb,
                    0 4px 0 #b9b9b9,
                    0 5px 0 #aaa,
                    0 6px 1px rgba(0,0,0,.1),
                    0 0 5px rgba(0,0,0,.1),
                    0 1px 3px rgba(0,0,0,.3),
                    0 3px 5px rgba(0,0,0,.2),
                    0 5px 10px rgba(0,0,0,.25),
                    0 10px 10px rgba(0,0,0,.2),
                    0 20px 20px rgba(0,0,0,.15);
}

/*===== FOOTER =======*/

footer {
    margin: 0;
    font-size: 0.7rem;
    display: block;
    box-sizing: border-box;
    background-color: rgba(0,0,0,.1);
    width: 100%;
}

.footer-copyright{
    padding-top: 1rem;
}


/*===== MEDIA QUERIES =======*/

@media (min-width: 320px){

    .header-box h1 {
        top: 20%;
    }

    .rules-btn, .play-btn {
        font-size: 0.8em;
        padding: 0.5rem;
    }

    .rules-btn {   
        top: 38%;    
        left: 35%;
    }
    
    .play-btn {
        top: 48%;
        left: 35%;
    }

    .rules {
        padding: 15% 5%;
    }

    .section-rules h2 {
        font-size: 1.2rem;
        text-shadow: none;
    }

    .game-rules {
        font-size: 1rem;
        margin: 15% 0;
    }

    .lets-play {
        font-size: 1rem;
        text-shadow: none;
    }

    .lets-play-btn {
        font-size: 3rem;
        text-shadow: none;
        margin: 5% 0;
    }
}

@media (min-width: 768px ) {
    .rules-btn {   
        top: 30%;    
        left: 34%;
    }
    
    .play-btn {
        top: 30%;
        left: 53%;
    }

    .section-rules h2 {
        font-size: 1.5rem;
    }

    .game-rules {
        font-size: 1.1rem;
    }

    .section-rules h2 {
        font-size: 1.5rem;
    }

    .lets-play {
        font-size: 1.2rem;
        text-shadow: none;
    }

}

@media (min-width: 992px ) {

    .rules {
        padding: 10% 5%;
    }

    .game-rules {
        margin:10% 0 7% 0;
    }

    .rules-btn{   
        top: 38%;    
        left: 41%;
    }
    
    .play-btn {
        top: 38%;
        left: 51%;
    }

    .lets-play-btn {
        margin: 10% 0;
    }

}


